:root{
  --logo-background: #f5f5f510;
  --background-color: #2E3845;
  --background-color-transparent: #2e3845ce;
  --text-color: #f5f5f5;
  --orange-color: #EC593A;
  --orange-color-transparent: #ec583a71;
}